<main class="flex flex-col">
  <%= render 'shared/navbar' %>

  <section class="flex flex-col items-center justify-center w-full mt-20 mb-5">
    <div class="flex flex-col items-center">
      <h1 class="font-bold text-4xl text-white my-5">The Bookstore App</h1>
    </div>

    <div class="flex gap-5 border-4 border-gray-200 w-full h-screen">
      <%= render 'dashboard/charts/days/days' %>
      <%= render 'dashboard/charts/revenue/revenue' %>
      <%= render 'dashboard/charts/books/books' %>
    </div>
  </section>
</main>
