<nav class="w-full flex bg-black items-center p-5 justify-between fixed">
  <div class="flex gap-5 items-center">
    <%= image_tag('sells.png', class: 'w-12') %>
    <h3 class="font-bold text-lg text-white">The Bookstore App</h3>
  </div>

  <div class="flex">
    <%= turbo_frame_tag 'new_record_component', class: 'flex gap-5' do %>
      <%= link_to '#', id: 'sell_link', class: 'text-white font-semibold text-sm text-center bg-green-700 text-white rounded px-4 py-2' do %>
        Add sell
      <% end %>

      <%= link_to new_book_path, id: 'book_link', class: 'text-white font-semibold text-sm text-center bg-sky-700 text-white rounded px-4 py-2' do %>
        Add a new book
      <% end %>
    <% end %>
  </div>
</nav>
