<div data-controller="book" data-book-sells="<%= latest_sells(book.id) %>" book-id="<%= book.id %>"
class="text-white bg-white p-5 m-5 rounded">
  <canvas id="book_chart_<%= book.id %>" style="width:100%;max-width:700px"></canvas>
</div>
