<span class="text-white">Hello World</span>

<div data-controller="days">
  <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
</div>

<p class="text-white">
  <%= sells_per_day %>
</p>
