<span class="text-white">Hello World</span>

<div data-controller="days" data-days-sells="<%= sells_per_day %>" id="days_chart">
  <canvas id="daySells" style="width:100%;max-width:700px"></canvas>
</div>
